@tailwind base;
@tailwind components;
@tailwind utilities;

/* .nav-bar{
    background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 129, 0.283),
    rgb(242, 232, 99)
  );
} */

.nav-button{
  background-image: linear-gradient(
    to top,
    rgba(146, 146, 140, 0.925),
    rgb(167, 255, 240)
  );
  transition: 0.3s;
}
.nav-button:hover{
    background-image: linear-gradient(
      to top,
      rgba(44, 215, 238, 0.925),
      rgb(237, 169, 184)
    );
    transform: scale(1.1);
  }
main {
  height: 100vh;
  background-image: linear-gradient(
    to top,
    rgba(219, 219, 140, 0.925),
    rgb(44, 244, 211)
  );
}
